<header class="header">
  <nav class="nav">
    <ul>
      <li>Pokemon App</li>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/types']">Types</a></li>
      <li><a [routerLink]="['/search']">Search</a></li>
    </ul>
    <div>
      <button *ngIf="!authService.isLogged()" [routerLink]="['/login']">Login</button>
      <button *ngIf="authService.isLogged()" (click)="logout()">Logout</button>
    </div>
  </nav>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>


